@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using RMSRazorPage.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div>
        Hello, @UserManager.GetUserName(User)!
        <a href="@Url.Page("/Account/LogOut", new { area = "Identity" })">Log out</a>
    </div>
}
else
{
    <a href="@Url.Page("/Account/Login", new { area = "Identity" })">Log in</a>
}
